{template "content","head"}
{template "content","position"}
<div class="public w1200 fix">
    <div class="public_nav le">
        <ul>
            <li><em><b>搜索结果 </b>/ SEARCH</em></li>

        </ul>
    </div>
    <div class="news public_right rt">

        <ul class="newsul fix">
            {loop $datas $i $r}
            <li>
                <a href="{$r[url]}">
                    <div class="news_left le">
                        <img src="{$r[thumb]}">
                    </div>
                    <div class="news_right rt">
                        <h3>{$r[title]}</h3>
                        <p>
                            {$r[description]}
                        </p>
                        <i>{date("Y-m-d  H:i",$r[inputtime])}</i>
                    </div>
                </a>
            </li>
            {/loop}
            {if empty($datas)}未找到结果{/if}
        </ul>
        <div class="link">
            <ul class="fix">
                {$pages}
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="{JS_PATH}search_history.js"></script>
{if $setting['suggestenable']}
<script type="text/javascript" src="{JS_PATH}jquery.suggest.js"></script>
<script type="text/javascript" src="{JS_PATH}search_suggest.js"></script>
{/if}
{template "content","foot"}