{template "content","head"}
    <div class="notice">
        <div class="w1200">
            <div class="bd">
                <ul>

                    {pc:content  action="position" posid="18" order="listorder ASC" num="6"}

                        {loop $data $key $val}
                        <li><a href="{$val[url]}">{$val['title']}</a></li>
                        {/loop}

                    {/pc}

                </ul>
            </div>
            <div class="search">
                <form class="fix" method="get" id="form" action="{APP_PATH}index.php?m=search&c=index&a=init&typeid=0&siteid=1&q=" onsubmit="return false">
                    <input type="text" name="q" class="text" placeholder="请输入搜索内容" >
                    <input type="submit" name="" value="搜索" class="submit" id="search">
                    <img src="/statics/heheng/images/sousu.png">
                </form>
            </div>
       </div>
    </div>
<script>

    $('[name=q]').keydown(function(event){
        if(event.keyCode ==13) {

            $('#search').click();
        }
    })
    $('#search').click(function () {

        var q = $('[name=q]').val();

        if(!q){

            alert('请输入关键词');

            return

        }

        var url = $('#form').attr('action');


        url = url+q;


        window.location.href=url;

    })

</script>
    <script type="text/javascript">
        jQuery(".notice").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"top",autoPlay:true,vis:5});
    </script>
    <div class="index_scheme w1200">
        <div class="index_schemeTop">
            <h3>解决方案</h3>
            <i></i>
            <p>{$CATEGORYS[17][sub_title]}</p>
        </div>
        <div class="index_schemeBom">
            <div class="hd">
                <a class="next"><img src="/statics/heheng/images/fanganz.png"></a>
                <ul></ul>
                <a class="prev"><img src="/statics/heheng/images/fangany.png"></a>
            </div>
            <div class="bd">
                <ul class="picList fix">
                    {pc:content action="category" catid="17" num="10" siteid="$siteid" order="listorder ASC"}
                    {loop $data $v}
                    <li>
                        <a href="{$v[url]}">
                           <img src="{$v[image]}">
                           <b>{$v[catname]}</b>
                           <p>{$v[description]}</p>
                        </a>
                    </li>
                    {/loop}
                    {/pc}
                </ul>
            </div>
        </div>
         <a href="{$CATEGORYS[17][url]}" class="more">
             MORE  +
         </a>
        <script type="text/javascript">    
            jQuery(".index_schemeBom").slide({mainCell:".bd ul",autoPlay:true,effect:"leftMarquee",vis:3,interTime:50});
        </script>
    </div>
    <div class="w1200">
        <div class="index_superiority">
            <div class="w1200">
                <div class="index_superiorityTop">
                    <h3>{$CATEGORYS[151][catname]}</h3>
                    <i></i>
                    <p>{$CATEGORYS[151][sub_title]}</p>
                </div>
                <div class="index_superiorityBom">
                    <ul>
                        {pc:content action="lists" catid="151" num="4" order="listorder ASC,inputtime desc" page="$page"}
                        {loop $data $r}
                         <li>
                             <a href="javascript:">
                                 <em>
                                     <img src="{$r[thumb]}">
                                     <b>{$r[title]}</b>
                                 </em>
                             </a>
                         </li>
                        {/loop}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="index_aboutBox">
        <div class="w1200">
            <div class="index_aboutTop">
                <h3>{$CATEGORYS[126][catname]}</h3>
                <i></i>
                <p>{$CATEGORYS[126][sub_title]}</p>
            </div>
            <div class="index_about">
                <div class="index_aboutleft">
                    <img src="{$CATEGORYS[126][image]}">
                </div>
                <div class="index_aboutright">
                    <h3>合恒科技(北京)有限公司</h3>
                    {$CATEGORYS[126][description]}
                </div>
            </div>
            <a href="{$CATEGORYS[146][url]}" class="more">
                 MORE  +
            </a>
         </div>
    </div>
{template "content","foot"}