{template "content","head"}
    <div class="notice">
        <div class="w1200">
            <div class="bd">
                <ul>

                    {pc:content  action="position" posid="18" order="listorder ASC" num="6"}
                    <ul>
                        {loop $data $key $val}
                        <li><a href="{$val['url']}">{$val['title']}</a></li>
                        {/loop}
                    </ul>
                    {/pc}

                </ul>
            </div>
            <div class="search">
                <form class="fix">
                    <input type="text" name="" class="text" placeholder="请输入搜索内容">
                    <input type="submit" name="" value="搜索" class="submit">
                    <img src="images/sousu.png">
                </form>
            </div>
       </div>
    </div>
    <script type="text/javascript">
        jQuery(".notice").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"top",autoPlay:true,vis:5});
    </script>
    <div class="index_scheme w1200">
        <div class="index_schemeTop">
            <h3>解决方案</h3>
            <i></i>
            <p>公司本着“以客户为中心”的经营理念， “诚信、平等”的待人原则，热情接待客户 、真情服务客户，实现客户利益和价值的最大化。</p>
        </div>
        <div class="index_schemeBom">
            <div class="hd">
                <a class="next"><img src="images/fanganz.png"></a>
                <ul></ul>
                <a class="prev"><img src="images/fangany.png"></a>
            </div>
            <div class="bd">
                <ul class="picList fix">
                    <li>
                        <a href="">
                           <img src="images/fangan.jpg">
                           <b>数据库安全</b>
                           <p>高速铁路信号控制平台安全型计算机联锁（VPI）系统要求计算机设备具有...</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                           <img src="images/fangan.jpg">
                           <b>数据库安全</b>
                           <p>高速铁路信号控制平台安全型计算机联锁（VPI）系统要求计算机设备具有...</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                           <img src="images/fangan.jpg">
                           <b>数据库安全</b>
                           <p>高速铁路信号控制平台安全型计算机联锁（VPI）系统要求计算机设备具有...</p>
                        </a>
                    </li>          
                </ul>
            </div>
        </div>
         <a href="solution.html" class="more">
             MORE  +
         </a>
        <script type="text/javascript">    
            jQuery(".index_schemeBom").slide({mainCell:".bd ul",autoPlay:true,effect:"leftMarquee",vis:3,interTime:50});
        </script>
    </div>
    <div class="w1200">
        <div class="index_superiority">
            <div class="w1200">
                <div class="index_superiorityTop">
                    <h3>合恒优势</h3>
                    <i></i>
                    <p>公司本着“以客户为中心”的经营理念， “诚信、平等”的待人原则，热情接待客户 、真情服务客户，实现客户利益和价值的最大化。</p>
                </div>
                <div class="index_superiorityBom">
                    <ul>
                        <li>
                            <a href="newsxq.html">
                                <em>
                                    <img src="images/yous1.png">
                                    <b>7 x 24小时本地化服务</b>
                                </em>
                            </a>
                        </li>
                         <li>
                             <a href="newsxq.html">
                                 <em>
                                     <img src="images/yous2.png">
                                     <b>领先的技术方案整合能力</b>
                                 </em>
                             </a>
                         </li>
                         <li>
                             <a href="newsxq.html">
                                 <em>
                                     <img src="images/yous3.png">
                                     <b>独特的定制化安全服务</b>
                                 </em>
                             </a>
                         </li>
                         <li>
                             <a href="newsxq.html">
                                 <em>
                                     <img src="images/yous4.png">
                                     <b>丰富的行业运维经验</b>
                                 </em>
                             </a>
                         </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="index_aboutBox">
        <div class="w1200">
            <div class="index_aboutTop">
                <h3>关于合恒</h3>
                <i></i>
                <p>公司本着“以客户为中心”的经营理念， “诚信、平等”的待人原则，热情接待客户 、真情服务客户，实现客户利益和价值的最大化。</p>
            </div>
            <div class="index_about">
                <div class="index_aboutleft">
                    <img src="images/guany.jpg">
                </div>
                <div class="index_aboutright">
                    <h3>合恒科技(北京)有限公司</h3>
                    <p>hh合恒科技（北京）有限公司成立于2009年，是专业的安 全可视化运维解决方案提供商。公司面向行 业及大型企事业客户，围绕中大型数据中心，在整合信息安全技术、运维经验以及业界顶尖的相关产品的   基础上，向客户提供专业的安全可视化运维解决方案及增值服务。</p>
                    <p>hhhh公司自创建以来一直秉承“合则兴，信则恒”的合作 及服务理念，目前已成为了众多行业及大型企 事业客户的全面信息安全合作伙伴。公司拥有自主知识产权的“Netinside合恒优维应用 性能管理系统”广 泛应用于金融，企业及政府客户。同时，合恒科技与国内外顶尖信息安全厂商缔结了紧密的合作关系，是Check Point, Firemon,Solarwinds,Imperva,Paloalto Network, A10 Networks，Rapid7, 绿盟科技,深信服等公司的核心代理商及专业服务 提供商。</p>
                </div>
            </div>
            <a href="solution.html" class="more">
                 MORE  +
            </a>
         </div>
    </div>
{template "content","foot"}