{template "content","head"}
{template "content","position"}
    <div class="public w1200 fix">
        {template "content","nav"}
        <div class="recruitxq public_right rt">
            <h3>网络安全工程师</h3>
            <b>最低学历：<span>{$xueli}</span></b>
            <b>招聘人数：<span>{$renshu}</span></b>
            <b>工作经验：<span>{$jingyan}</span></b>
            <b>薪资：<span>{$xinzi}</span></b>
            <strong>职位描述：</strong>
               <p>{$content}</p>
            <i>* 有意者请将简历发送至{$email}</i>
        </div>
    </div>
{template "content","foot"}