{template "content","head"}
{template "content","position"}
    <div class="solution w1200">
        <div class="index_publicTop">
            <h3>{$CATEGORYS[$catid][catname]}</h3>
            <i></i>
        </div>  
        <div class="solution_bom fix">
            <ul class="solutionul fix">
                {pc:content action="lists" catid="$catid" num="8" order="listorder ASC,inputtime desc" page="$page"}
                {php $i=1}
                {loop $data $r}
                <li {if $i%4==1}class="one"{/if} >
                    <a href="{$r[url]}">
                        <img src="{$r[thumb]}">
                        <b>{$r[title]}</b>
                        <p>{$r[description]}</p>
                    </a>
                </li>
                {php $i++}
                {/loop}
            </ul>
            <div class="link">
               <ul class="fix">
                   {$pages}
               </ul>
            </div>
        </div>
    </div>
{template "content","foot"}